.btnReturn{
    all:unset;
    margin-top: 40px;
    border: var(--primary-color) 2px solid;
    border-radius: var(--border-radius);
    padding: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover{
        background-color: var(--primary-color);
        color: white
    }
} 
.ng-star-inserted{
    transform: translate(300px)!important;
    font-size: 2rem;
    color: lightgrey!important;
}
::ng-deep .tick text { 
    font-size: 1.2rem!important;
}
.chart-legend{
    color: blue!important
}