<div class="container">
    <div class="dashboard-title">
        <h1>{{countryName}}</h1>
    </div>
    <div class="statistics">
        <div class="stat-item">
            <h3>Number of Entries</h3>
            <b>{{numberOfEntries}}</b>
        </div>
        <div class="stat-item">
            <h3>Number of medals</h3>
            <b>{{totalMedals}}</b>
        </div>
        <div class="stat-item">
            <h3>Total Number of Athletes</h3>
            <b>{{totalAthletes}}</b>
        </div>
    </div>
    <ngx-charts-line-chart
        [view]="[700, 300]"
        [scheme]="colorScheme"
        [results]="medalData"
        [xAxis]="true"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Dates"
        >
    </ngx-charts-line-chart>
</div>
